{% extends "template.html" %}
{% block conteudo %}
    <form action="/salvar" method="POST">
        <div class="form-group">
            <input name="id" type="hidden" value="{{jogo.id}}">
            <div class="row col-8">
                <label>Nome</label>
                <input class="form-control" name="nome" value="{{jogo.nome}}">
            </div>
            <div class="row col-8">
                <label>Categoria</label>
                <input class="form-control" name="categoria" value="{{jogo.categoria}}">
            </div>
            <div class="row col-8">
                <label>Console</label>
                <input class="form-control" name="console" value="{{jogo.console}}">
            </div>
            <div class="row col-1" style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
{% endblock %}